dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
result*
.envrc
.vim
tools/
buy.json
update.json
cancel.json
datum.json
paradiso_fixed_price_testnet.plutus
paradiso_fixed_price_testnet.addr
paradiso_fixed_price_mainnet.plutus
paradiso_fixed_price_mainnet.addr
